<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="MyUserDto" type="com.example.gradleTest2.DTO.MyUserDto" />
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mapper/MyUserDao.xml" />
    </mappers>
</configuration>